<html>
  <head>
    <meta charset="utf-8">
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style2.css">
  </head>
  <body>
  	<table>
  	<tr id="th1">
	<th class="neato">Ohms</th>
	<th class="neato">QTY</th>
	<th class="neato">Colors</th>
	<th class="neato">Name</th>
	</tr>
	<tr class="body">
	{%for x in db%}
	<td class="body">{{x.resis}}</td>
	<td class="body">{{x.quant}}</td>
	<td class="body">{{x.colors}}</td>
	<td class="body cent">{{x.name}}</td>
	{% endfor %}
	</tr>
</table>
</body>
</html>